body
{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../res/background.png);
}

#buffer
{
    margin: 12em;
}

#logo
{
    padding-top: 3em;
    width: 20em;
    
}

#left-logo 
{
	border-right: 1px solid rgba(255,255,255,0.2);

}

p
{
    color: grey;
}

.btn
{
    background-color: #68AA48;
    color: white;
    border-radius: 0.75em;
}